Hands-On Machine Learning with Scikit-Learn, Keras, and TensorFlow 1(1).pdf

__pycache__/
*.pyc

*.aux
*.log
*.out
*.toc
*.bbl
*.blg
*.nav
*.snm

code/Oblig2/requirements.md
code/Oblig2/latex/main.pdf